<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class=" js no-touch svg inlinesvg svgclippaths no-ie8compat" lang="en" style="" xml:lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Tooltips | Foundation Docs
		</title>
		<link href="../assets/css/docs.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" async="" src="ga.js">
</script>
		<script src="../assets/js/custom.modernizr.js" type="text/javascript">
</script>
		<title>
			Foundation: The Most Advanced Responsive Front-end Framework from ZURB
		</title>
		<meta name="description" content="Foundation from ZURB is the most advanced responsive front-end framework in the world." />
	</head>
	<body class="antialiased hide-extras" style="">
		<h3 class="subheader">
			Tooltips are a quick way to provide <span data-tooltip="" class="has-tip" title="Tooltips are awesome, you should totally use them!">extended information</span> on a term or action on a page.
		</h3>
		<script src="../assets/js/jquery.js" type="text/javascript">
</script><script src="../assets/js/all.js" type="text/javascript">
</script>
<script type="text/javascript">
//<![CDATA[
		//]]>
		</script>
		<p>
			<span data-selector="tooltipipnzim" class="tooltip tip-bottom" style="visibility: visible; display: none; top: 942px; bottom: auto; left: 329px; right: auto; width: auto;">Tooltips are awesome, you should totally use them!</span>
		</p>
	</body>
</html>
